body{
    background-color: rgb(65, 88, 88);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 20px;
  }
audio{
   z-index: 999;
   margin-top: 15px;
}
.my-name{
    color: rgb(226, 8, 8);
    font-size: 40px;
}
h1{
    background-color: blue;
    margin-left: 750px;
    margin-right: 750px;
    padding-left: 30px;
    border: 10px double black;
    border-radius: 40px;
    text-shadow: 1px 1px 0 white;
    font-size: 30px;
  
}
.p{
    color: rgb(7, 11, 247);
    font-size: large;
    text-align: center;   

}
 .why{
    color: blueviolet;
     background-color: rgba(11, 7, 19, 0.651);
    border-bottom: 7PX solid black;
    margin-right: 1400px;
    padding-left: 4px;
    padding-top: 2px;
    border-radius: 10px;
   text-transform: uppercase;

}
.ul{
    color:blueviolet ;
    background-color: #EEE;
    margin-right: 1500px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
     line-height: 1.6;
     list-style:none;
     box-shadow: 10px 10px 10px  grey ;
}
.footer{
    background-color: rgba(11, 7, 19, 0.651);
    color: white;
    text-align: center;
}
   .link a{
    text-decoration: none;
    background-color: brown;
    padding: 10px;
    border: 2px ;
    color: aliceblue;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    display: inline-block;
  }
  a:hover{
    color: blueviolet;
  }
  ::selection{
    background-color: black;
    color: yellow;
  }
  .img{
    height: 500px;
    width: 1000px;
  }
  optgroup{
    background-color: brown;
    color: aliceblue;
  }
  nav {
    background-color: brown;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 5px 4px 5px grey;
    z-index: 1000;
  }
  nav a {
    color: aliceblue;
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;

  }
